map(%{<%= for p <- @structure.properties do %>
  <%= maybe_wrap_in_optional(p.optional, ~s|{"#{p.name}", :#{Macro.underscore(p.name)}}|) %> => <%= LSPCodegen.Schematic.to_string(p.type, @metamodel) %>,<% end %>
})
