map(%{<%= for p <- @structure.properties do %>
  {"<%= p.name %>", :<%= Macro.underscore(p.name) %>} => <%= maybe_wrap_in_optional(p.optional, LSPCodegen.Schematic.to_string(p.type, @metamodel)) %>,
<% end %>
})
